[credential "https://github.com"]
	helper = !gh.exe auth git-credential
[user]
	email = ritchielrez@gmail.com
	name = RitchielRez
[init]
	defaultBranch = main
[core]
	editor = vim
	autocrlf = false
[gui]
	recentrepo = C:/Users/ritchiel/repos/2do-app
[safe]
	directory = D:/dev/terra
	directory = D:/dev/libraries
	directory = D:/dev/thor
	directory = D:/dev/hydrogen-cpp
	directory = E:/dev/thor
	directory = E:/dev/libraries
